@import "../../App.module.scss";

.container {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  height: 1200px;
  width: 80%;
  background-color: #ffff;
  margin-bottom: $natural-margin;
  margin-top: $natural-margin;
}
